<html>
  <head> KICKSTARTER DUPLICATE </head> 
  
  <body> 
    
    <p> 
      Thank you for making your project! 
      <br>
      Your project has been created as follows:
       <br>
      Genre: <%=@project.genre%>
      Title: <%=@project.title%>
      Goal: $<%=@project.goal%>
      Image File: <%=@project.image_file%>
      Description: <%=@project.description%>
      Location: <%=@project.location%>
      Duration: <%=@project.duration%> 
      
      
    </p>
    
    <p> 
      All projects are listed below: 
      <br> 
      <%=@the_projects%>
     
      
    </p>
  </body> 
  
  
</html> 